body {
  background-color: #E4DCCF;
  font-family: 'Abril Fatface', cursive;
  margin: 0;
}

.top {
  background-color: #F0EBE3;
  height: 670px;
  padding-bottom: -1.5em;
}

.table1 {
  padding-top: 6%;
  margin-left: 37%;
}

.paragraph1 {
  /*margin-left: 33%*/
  width: 23%;
  position: absolute;
  margin-top: -1%;
  padding-left: 37%;
}

.siteName {
  font-family: 'Abril Fatface', cursive;
}

.bulut1 {
  top: 8%;
  left: 25%;
  position: absolute;
}

.bulut2 {
  top:25%;
  right: 27%;
  position: absolute;
}

.topleft {
  position: absolute;
  left: 20%;
  top: 40%;
}

.topright {
  position: absolute;
  right: 20%;
  top: 40%;
}

.bottomleft {
  position: absolute;
  left: 7%;
  top: 60%;
}

.bottomright {
  position: absolute;
  right: 7%;
  top: 60%;
}

.gordon {
  position: absolute;
  left: 36.5%;
  top: 48%;
}

.gordonp {
  position: absolute;
  left: 37.3%;
  top: 43%;
}

.textbox {
  position: absolute;
  left: 43.5%;
  top: 62%;
}

.gordont {
  position: absolute;
  left: 45%;
  top: 68%;
}

.middle {
  background-color: #7D9D9C;
  height: 450px;
}

.promotion {
  color: #E4DCCF;
  position: absolute;
  padding-top: 2%;
  padding-left: 4.5%;
  font-family: 'Satisfy', cursive;
}

.promotiont {
  position: absolute;
  color: #F0EBE3;
  font-family: 'Kanit', sans-serif;
  padding-top: 4.8%;
  padding-left: 4%;
}

.using {
  color: #E4DCCF;
  position: absolute;
  padding-top: 10%;
  padding-left: 4%;
  font-family: 'Satisfy', cursive;
}

.usingleft {
  position: absolute;
  color: #F0EBE3;
  font-family: 'Kanit', sans-serif;
}

.usingright {
  position: absolute;
  color: #F0EBE3;
  font-family: 'Kanit', sans-serif;
}

#a {
  padding-top: 13.2%;
  padding-left: 3.3%;
}

#b {
  padding-top: 16.5%;
  padding-left: 3.3%;
}

#c {
  padding-top: 19.8%;
  padding-left: 3.3%;
}

#d {
  padding-top: 15%;
  padding-left: 55%;
}

#e {
  padding-top: 19%;
  padding-left: 55%;
}

#x {
  padding-top: 22.2%;
  padding-left: 3.8%;
}

.hr1 {
  background-color: #F0EBE3;
  position: absolute;
  border-style: dotted none none none;
  /* yazdığımız none kadar dikdörtgen şeklindeki
  nokta kümesinden bir kenar eksildi mesela burada sadece üstteki kaldı */
  height: 2px;
  border-width: 4px;
  width: 5%;
  border-color: #7D9D9C;
  border-width: 8px;
  margin-top: 28.5%;
  margin-left: 50%;
}

.hr2 {
  background-color: #7D9D9C;
  position: absolute;
  border-style: dotted none none none;
  /* yazdığımız none kadar dikdörtgen şeklindeki
  nokta kümesinden bir kenar eksildi mesela burada sadece üstteki kaldı */
  height: 2px;
  border-width: 4px;
  width: 5%;
  border-color: #F0EBE3;
  border-width: 8px;
  margin-top: 1%;
  margin-left: 50%;
}

.hr3 {
  background-color: #7D9D9C;
  position: absolute;
  border-style: dotted none none none;
  /* yazdığımız none kadar dikdörtgen şeklindeki
  nokta kümesinden bir kenar eksildi mesela burada sadece üstteki kaldı */
  height: 2px;
  border-width: 4px;
  width: 5%;
  border-color: #E4DCCF;
  border-width: 8px;
  margin-top: 31%;
  margin-left: 50%;
}

.hr4 {
  background-color: #E4DCCF;
  position: absolute;
  border-style: dotted none none none;
  /* yazdığımız none kadar dikdörtgen şeklindeki
  nokta kümesinden bir kenar eksildi mesela burada sadece üstteki kaldı */
  height: 2px;
  border-width: 4px;
  width: 5%;
  border-color: #7D9D9C;
  border-width: 8px;
  margin-top: 1%;
  margin-left: 50%;
}

.bottom {
  height: 1000px;
}

.comments {
  color: #7D9D9C;
  position: absolute;
  font-family: 'Satisfy', cursive;
  padding-top: 30px;
  padding-left: 50px;
}

.furkan {
  position: absolute;
  padding-top: 120px;
  padding-left: 40px;
}

.ısıl {
  position: absolute;
  padding-top: 320px;
  padding-left: 1170px;
}

.cagrı {
  position: absolute;
  padding-top: 520px;
  padding-left: 40px;
}

.gizem {
  position: absolute;
  padding-top: 720px;
  padding-left: 1170px;
}

.commentleft {
  position: absolute;
  padding-left: 18%;
  color: #576F72;
  width: 70%;
}

.commentright {
  position: absolute;
  padding-left: 15%;
  color: #576F72;
  width: 70%;
}
#cleft{
  padding-top: 10%;
}
#cleft2{
  padding-top: 40%;
}
#cright{
  padding-top: 25%;
}
#cright2{
  padding-top: 55%;
}
.bottom-container{
  font-family: 'Satisfy', cursive;
}
.contact{
  color: #7D9D9C;
  position: absolute;
  font-family: 'Satisfy', cursive;
  margin-top: -5%;
  padding-left: 45%;
}
